@import "_mixins.styl";

@font-face
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.ttf')

@font-face
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold.ttf')

*
  font-family: 'OpenSans', Arial, sans-serif

body
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow hidden

.button
  margin: 15px 0 0;
  padding: 8px 0;
  border-radius: 0;
  border: 1px solid #bcbcbc;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  line-height: normal;
  font-family: Arial,sans-serif;
  transition: all .2s ease-in-out;
